/*
CSS for the CS142 project #4 Problem #2 states component

Since CSS uses a global name space for classes we should use names starting with
cs142-states- here.
*/

.container-States {
  font-family: monospace;
}

#cs142-states-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
}

#cs142-states-filterInput {
  height: 40px;
  width: 50%;
  font-size: 20pt;
}
